profiles {
	 aws {
	  	 process.executor = 'awsbatch'
	 	 process.queue = 'ajj-job-queue-sarek'
		 process.container = 'ajjeon/ajj-nf-sarek:v1'
		 region = 'ap-southeast-1'
		 docker.enabled = true
		 docker.runOptions = '-u \$(id -u):\$(id -g)'
		 errorStrategy = {task.exitStatus == 143 ? 'retry' : 'terminate'}
		 maxErrors = '-1'
		 maxRetries = 4
		 		 
}
}
